<!DOCTYPE html>
<html lang="pt-br" ng-app="app" ng-cloak>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Principal</title>

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row" ng-controller="ListEmailController as vm">

			<div class="column col-xs-12">

				<form class="mt-1">
					<div class="form-group col-lg-4 col-xs-7">
						<label for="search">Busca</label>
						<input ng-model="vm.search" type="search" class="form-control"
							   id="search" placeholder="Search here...">
					</div>

					<div class="form-group col-xs-12">
						<input ng-model="vm.onlyTodayEmails" ng-change="vm.showOnlyTodayEmails.show()"
							   type="checkbox" />
						Somente emails enviados hoje
					</div>
				</form>

				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th ng-click="vm.sort('nome')">
							<i ng-class="{'glyphicon glyphicon-menu-up': vm.isSortUp('nome'),
								'glyphicon glyphicon-menu-down': vm.isSortDown('nome')}"></i>
							Nome
						</th>

						<th ng-click="vm.sort('assunto')">
							<i ng-class="{'glyphicon glyphicon-menu-up': vm.isSortUp('assunto'),
								'glyphicon glyphicon-menu-down': vm.isSortDown('assunto')}"></i>
							Assunto
						</th>

						<th ng-click="vm.sort('dataDeEnvio')">
							<i ng-class="{'glyphicon glyphicon-menu-up': vm.isSortUp('dataDeEnvio'),
								'glyphicon glyphicon-menu-down': vm.isSortDown('dataDeEnvio')}"></i>
							Data de Envio
						</th>
					</tr>
					</thead>

					<tbody>
						<tr ng-repeat="email in filteredEmails =
							(vm.emails | filter: vm.filterEmails | orderBy:vm.sortField:vm.reverse)">

							<td ng-bind="email.nome"></td>
							<td ng-bind="email.assunto"></td>
							<td ng-if="vm.isToday(email.dataDeEnvio)">
								{{ email.dataDeEnvio | date: 'HH:mm' }}
							</td>
							<td ng-if="!vm.isToday(email.dataDeEnvio)">
								{{ email.dataDeEnvio | 	date: 'dd-MM-yyyy' }}
							</td>
						</tr>
					</tbody>
				</table>

				Emails encontrados: {{filteredEmails.length}}

				<div class="text-center">
					<uib-pagination total-items="vm.totalItensInPage" ng-model="vm.currentPage"
									ng-change="vm.pageChanged()">
					</uib-pagination>
				</div>
			</div>

		</div>
	</div>

	<!-- LIB -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	
	<!-- APP -->
	<script src="app/app.js"></script>
	<script src="app/services/list-email-service.js"></script>
	<script src="app/controllers/list-email.js"></script>
</body>

</html>